.image-container {
    width: 400px; /* Fixed width for the div */
    height: 300px; /* Fixed height for the div */
    background-image: url('kung-fu-panda-4-4.jpg'); /* Initial background image */
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    transition: background-image 0.5s ease; /* Smooth transition for background image */
}

.image-container:hover {
    background-image: url('KungFuPanda4-FanFactory-Blu-ray_7.jpg'); /* Change background image on hover */
}